body {
    margin: auto;
    width: 100em;
    border: 1px solid black;
}


.viaoda-libre-regular {
    font-family: "Viaoda Libre", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  

figure{
    border: 1px solid;
    width: 360px;
    text-align: center;
}

#img1{
    margin-left: 5px;
}




#p1{
    
    
}

#p2{
    
}